.car-info {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.info-car ul {
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 38px;
}

.porsche-img {
    max-width: 829px;
}

.info-car {
    font-size: 20px;
    padding-top: 2rem;
}

.info-car h4 {
    margin-bottom: 1rem;
}

.container #car{
    color: #FF4D00;
}

.container {
    max-width: 1070px;
}

.container h2 {
    margin-top: 10rem;
}

section {
    display: flex;
    justify-content: center;
}

.navbar {
    border-bottom: 2px solid #000;
    background: #F7F7F7;
}