@import url('https://fonts.googleapis.com/css2?family=Lato&family=Racing+Sans+One&family=Raleway&family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

img {
    width: 100%;
}

.info {
    height: 80px;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}

.navbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10rem;
}

.info div {
    display: flex;
    padding: 1.5rem 4rem;
}

.info .fa-2x {
    padding: 1rem 3rem;
}

.flame {
    width: 37px;
    height: 50px;
    margin-top: 1.5rem;
}

.logo {
    display: flex;
}

.logo p {
    font-family: 'Racing Sans One';
    font-size: 3rem;
    justify-self: center;
    align-self: center;
}

/* .logo img {
    padding: .5rem 1rem;
} */

.fa-brands {
    padding-right: 2.5rem;
}

.navbar ul li{
    padding: 0 4rem;
}

.header-main {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    height: 587px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-main .line {
    height: 140px;
    background-color:  rgba(28, 28, 28, 0.76);
    opacity: .8;
    position: absolute;
    display:flex;
    width: 100%;
    margin-top: 33rem;
}

.line h1 {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: 'Raleway' sans-serif;
    padding-left: 20rem;
    display: grid;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 2rem;
}

.box {
    position: absolute;
    width: 465px;
    height: 272px;
    background: #F7F7F7;
    box-shadow: 4px 4px 4px #FF4D00;
    margin: 5rem 3rem;
}

.car-box {
    position: relative;
}

.cars {
    position: relative;
}

.cars .car {
    display: flex;
    justify-content: center;
}

.car-img {
    width: 232.85px;
    margin-top: 60px;
    margin-left: 30px;
}

.car-img1 {
    width: 238.54px;
    margin-top: 65px;
    margin-left: 53px;
}

.car-img2 {
    width: 259px;
    margin-top: 15px;
    margin-left: 22px;
}

.car-img3 {
    width: 200px;
    margin-top: 55px;
    margin-left: 72px;
}

.car-img4 {
    width: 227px;
    margin-top: 55px;
    margin-left: 48px;
}

.car-img5 {
    width: 225px;
    margin-top: 60px;
    margin-left: 48px;
}

.card {
    display: flex;
}

.car-features {
    flex-direction: column !important;
    justify-content: center;
    padding-left: 1rem;
}

.car-box h2{
    display: flex;
    justify-content: center;
}

.car-features li {
    white-space: nowrap;
}

.box {
    display: flex;
    flex-direction: column;
}

.main-btn {
    display: flex;
    justify-content: center;
}

.btn {
    border: 2px solid #FF4D00;
    padding: 1rem 7rem;
    font-weight: bold;
    font-size: .9em;
}

.btn-2 {
    margin-top: 3rem;
}

.about-container{
    display: grid;
    justify-content: center;
    padding: 2rem 11rem;
}

.about-us {
    max-width: 1073px;
}

.about-us p {
    padding: 2rem 0 1rem 0;
}

.about-us h3{
    display: block;
    border-bottom: 2px solid #FF4D00; 
}

.about-us h4 {
    font-weight: bold;
    padding: 1rem 0 1.5rem 0;
    color: #FF4D00;
}

.add {
    flex-direction: column;
}

.services {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6rem;
}

.fa-check {
    color: #FF4D00;
    padding-right: 1.2rem;
}

footer {
    height: 250px;
    background: #1C1C1C;
}

.footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-top: 2rem;
    color: white;
}

.contact-1 {
    display: flex;
}

.contact-1 p {
    padding: 3rem 1rem;
}

.end {
    color: #FF4D00;
}

.copyright {
    padding-top: 1.5rem;
}

.fa {
    padding-right: 1rem;
}

.list {
    display: none;
}

/* .social i:hover {
    opacity: .7;
    cursor: pointer;
} */

.fa-instagram:hover {
    color: #d6249f ;
    cursor: pointer;
}

.fa-square-facebook:hover {
    color: rgb(65, 65, 255);
    cursor: pointer;
}

.fa-youtube:hover {
    color: red;
    cursor: pointer;
}

.nav ul li { 
    color: #666;
    display:inline-block;
    margin:0;
    text-transform:uppercase; 
}

.nav ul li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #FF4D00;  
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
}
.nav ul li:hover:after { transform: scaleX(1); }

.btn:hover {
    background-color: rgb(0, 225, 255);
    transition: .5s;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .cars .car {
        display: grid;
        width: 100%;
    }
    .social {
        display: none;
    }
}


@media only screen and (max-width: 678px) {
    .navbar .nav {
        display: none;
    }

    .list{
        display: block;
    }

    .navbar {
        padding: 1.5rem 5rem;
    }

    .info {
        display: none;
    }

    .about-container {
        padding: 2rem 1rem;
    }

    .box {
        width: 378px;
    }

    .car-img {
        width: 232.85px;
        margin-top: 60px;
        margin-left: 10px;
    }
    
    .car-img1 {
        width: 238.54px;
        margin-top: 65px;
        margin-left: 10px;
    }
    
    .car-img2 {
        width: 259px;
        margin-top: 15px;
        margin-left: 0px;
    }
    
    .car-img3 {
        width: 200px;
        margin-top: 55px;
        margin-left: 10px;
    }
    
    .car-img4 {
        width: 227px;
        margin-top: 55px;
        margin-left: 10px;
    }
    
    .car-img5 {
        width: 225px;
        margin-top: 60px;
        margin-left: 10px;
    }

    .contact-1 p {
        padding: 1rem 1rem;
    }

    .contact-1 {
        display: grid;
    }

    .footer {
        padding-top: 0;
    }
    
    .end {
        display: none;
    }

    .line h1 {
        padding-left: 4rem;
        display: flex;
        flex-direction: column;
        align-self: center;

    }
}
